/* Globals */
body{
	
}

/* Styles for sidenav */
.openMenu{
	position: fixed;
	font-size: 40px;
	margin-left: 0.4em;
	cursor: pointer;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    /*transition: 0.5s;*/
    padding-top: 30px;
}

.sidenav #navTextWrapper{
	display: none;
}

.sidenav a, .sidenav .brand{
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    /*transition: 0.3s;*/
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .brand{
	font-size: 1.4em;
}

.sidenav .closeBtn, .sidenav .brand{
	display: inline-block;
}

.sidenav .closeBtn {
    font-size: 36px;
	text-align: right;
}

/* Header */
header{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* About */
#about{
	height: 100vh;
}

/* Media Queries */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 450px) {
	header h3{
		font-size: 1.5em;
	}
}