/* Globals */
body{overflow-x: hidden;}

/* Override Bootstrap Success Colors to Lime */
.text-success{color: lime !important;}

.btn-success{background-color: lime; border-color: lime;}

a:link{text-decoration: none;}

/* Styles for sidenav */
.openMenu{
	position: fixed;
	right: 0;
	font-size: 40px;
	margin-right: 0.4em;
	cursor: pointer;
	color: #777;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 30px;
}

.sidenav #navTextWrapper{
	display: none;
}

.sidenav a, .sidenav .brand{
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .brand{
	font-size: 1.4em;
}

.sidenav .closeBtn, .sidenav .brand{
	display: inline-block;
}

.sidenav .closeBtn {
    font-size: 36px;
	text-align: right;
}

/* Header */
header{
	height: 80vh;
	padding: 8em 0 0 4em !important;
	
	font-family: impact;
	letter-spacing: 0.4em;
}

header h3{
	font-size: 4em;
}

header h4{
	font-size: 2em;
	margin-top: 1em;
}

/* About */
#about{
	display: flex;
	height: 100vh;
	background-color: #000;
	padding: 0.7em 1em 0.7em 1em;
	color: #fff;
}

#about p{padding-top: 1em;}

#about p span.extra-content{}

#about p span.read-more{}

#about .col{padding: 5px;}

/* Contact */
#contact{height: 100vh; padding: 3em 1em;}

#contact form{}

#contact form .select-group{
	margin-bottom: 0.7em;
}

#contact form select[name="looking"]{float: right;}

#contact form input[type="text"], #contact form input[type="email"]{width: 100%;}

#contact form .checkbox-kt{float: right;}

/* Footer */
footer{height: 200px; background-color: #111; color: #fff; text-align: center; padding-top: 1em;}

footer p{}

footer #social{font-size: 32px;}

footer #social i.fa{margin: 0 5px 0 5px;}

/* Media Queries */
@media screen and (max-height: 450px) { /* Smaller Height displays */
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 450px) { /* Mobile */
	header h3{font-size: 1.3em;}
	#about{padding: 0.7em 0 0.7em 0;}
	#about p span.extra-content{display: none;}
	
	#contact form select{width: 100%;}
	#contact form select[name="iama"]{margin-bottom: 0.5em;}
	#contact form select[name="looking"]{float: none;}
	#contact form .checkbox-kt{float: none;}
	#contact form input[type="submit"]{width: 100%; margin-top: 1em;}
}

@media screen and (min-width: 2000px) { /* 4K TV */
	body{}
}