/* Fixes */
@media (min-width: 768px){.navbar-default {border-radius: 0;}}

.grecaptcha-badge{display: none !important;}

/* Font Faces */
@font-face{font-family: channel; src: url(../font/Channel.ttf);}
@font-face{font-family: Quesha; src: url(../font/Quesha.ttf);}

/* Global */
body{
	--font-stack: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	--main-color-scheme: #783525;
	--mcs-light: #843a29;
	--mcs-dark: #632b1d;
	font-family: var(--font-stack);
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
	overflow-x: hidden;
}

h2.sectionHeading{
	font-family: Quesha;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	margin-top: 1em;
	color: #333;
}
button, .btn{color: #fff !important; background-color: var(--main-color-scheme); cursor: pointer;}
button:focus, .btn:focus{outline: 0 !important;}
button:hover, .btn:hover{color: #fff !important; background-color: var(--mcs-dark);}
#perks a{color: #337AB7; font-weight: bold;} /* Add all links */
a:hover{text-decoration: none;}

/* Styles for sidenav */
.openMenu{
	position: fixed;
	right: 0;
	font-size: 40px;
	margin-right: 0.4em;
	cursor: pointer;
	color: #777;
	z-index: 1;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 30px;
	text-align: center;
}
.sidenav #navTextWrapper{display: none;}
.sidenav a, .sidenav .brand{
    padding: 8px 8px 8px 20px;
    font-size: 25px;
    color: #818181;
    display: block;
}
.sidenav .navBrandExit{border-bottom: 2px solid #fff;}
.sidenav a:hover {color: #f1f1f1;}
.sidenav .brand{font-size: 1.4em; text-decoration: none;}
.sidenav .closeBtn {font-size: 36px; text-decoration: none; position: fixed; top: 0; right: 0;}

.sidenav #navLinks{padding-top: 1em;}

.sidenav #navActions{padding: 1em;}
.sidenav #navActions a{
	padding: 0.5em;
	background-color: #2b2b2b;
}
.sidenav #navActions .action{
	font-size: 16px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.sidenav #navActions .action i.fa{margin-right: 1em;}


/* Loading Splash 
#loadingSplash{
	height: 100vh;
	width: 100%;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	z-index: 200;
	text-align: center;
}*/

/* Header */
header{
	width: 100%;
	height: 100vh;
	padding: 0 24em;
	background: url("../img/showcase3.min.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
}

header .typing-container{
	background-color: #fff;
	border-radius: 100px;
	overflow-x: hidden;
	margin-bottom: 0;
}

header h1{
	color: #493D26;
	font-size: 1.7em;
	font-weight: bold;
	padding: 8px;
	margin-bottom: 0;
}

header .btn{margin-top: 0.5em;}

header .bg-credit{
	position: absolute;
	bottom: 0;
	right: 0;
}

header .bg-credit a{background-color: var(--main-color-scheme);}
header .bg-credit a:hover{background-color: #443d2d;}

/* About */
#about{height: 100vh; padding: 0.5em 10%;}
#about #portrait{
	float: left; 
	border-radius: 10px; 
	margin-right: 1em; 
	margin-bottom: 1em;
	width: 175px;
	height: 300px;
	
	background-image: url("../img/portrait.jpg");
	background-position: center;
	background-size: cover;
}
#about p.mainText{
	font-size: 1.3em;
	line-height: 1.4em;
	text-indent: 4ch;
	overflow: hidden;
}
#about .stayTogetherFix{overflow: hidden;}
#about br{clear: both;}

/* The Process */
#process{}
#process p.timelineCredit{margin: 0;}

/* Perks */
#perks{text-align: center; height: 100vh; width: 100%;}
#perks .col-md-4{margin-bottom: 20px; padding: 20px;}
#perks .col-md-4 img{height: 50px; width: 50px;}
#perks .col-md-4 p{font-size: 16px;}
#perks .col-md-4 i.fa{color: var(--main-color-scheme) !important;}

/* Portfolio */
#portfolio{height: 100vh; text-align: center;}
#portfolio img.project{width: 100%;}
#portfolio .row{padding: 0 6em;}
#portfolio .row .col-md-4{margin-bottom: 1em;}
/* 
* ImageBox credit:
* https://codepen.io/luisintosh/pen/gPGXOp
*/
.imagebox {
	background-color: #000;
	padding: 0;
	position: relative;
	text-align: center;
	width: 100%;
}
.imagebox img {
  opacity: 1;
  transition: 0.5s opacity;
}
.imagebox .imagebox-desc {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0px;
  color: white;
  font-size: 1.2em;
  left: 0;
  padding: 10px 15px;
  position: absolute;
  transition: 0.5s padding;
  text-align: center;
  width: 100%;
  opacity: 0;
}
.imagebox:hover img {opacity: 0.7;}
.imagebox:hover .imagebox-desc {padding-bottom: 10%; opacity: 1;}
#portfolio .btn{margin-top: 0.4em;}

/* Contact */
#contact{height: 100vh; padding: 3em 1em;}
#contact form *{margin-top: 0.4em;}
#contact form .priceElements{display: none;}
#contact form input[type="text"], #contact form input[type="email"]{width: 100%;}
#contact form textarea{margin-top: 1em;}
#contact form #termsButton{display: none;}

/* Footer */
footer{
	color: #fff;
	background-color: var(--main-color-scheme);
	padding: 20px;
	text-align: center;
}
footer i.fa{color: #fff !important; font-size: 2em; margin: 0 0.2em; cursor: pointer;}

/* Cookie Banner */
#cookieBanner{
	text-align: center;
	width: 100%;
	position: fixed;
	bottom: 0;
	color: #fff;
	background-color: var(--mcs-light);
	padding: 1em;
	font-size: 0.8em;
}

#cookieBanner p{margin: 0;}

#cookieBanner p a:last-of-type{font-size: 1.1em; margin-left: 1em;}

/* Media */
@media screen and (min-width: 2000px) {/* 4K */
	
}

@media screen and (max-width: 1220px) {/* Breaking Point */ 
	header{padding: 0 8em;}
}

@media screen and (max-width: 1024px) {/* Laptop */
	#about .stayTogetherFix{overflow: auto;}
}

@media screen and (max-width: 768px) {/* Tablet */
	

	header{height: auto; padding: 0 4em;}
	header h1{font-size: 1.5em;}
	
	#about{height: auto; padding: 8px 0;}
	#about #portrait{width: 200px; height: 250px;}
	
	#process{height: auto;}
	
	#perks{height: auto;}
	
	#portfolio{height: auto;}
	#portfolio .row{padding: 0;}
	.imagebox .imagebox-desc {opacity: 1; font-size: 1em;}
	
	#contact{height: auto;}
}

@media screen and (max-width: 540px) { /* Breaking Point */
	header h1{font-size: 1.2em;}
}

@media screen and (max-width: 450px) { /* Mobile L */
	header{padding: 0;}
	header .bg-credit, header .bg-credit a{width: 100%;}
	
	#about #portrait{
		display: block;
		margin: 0 auto;
		width: 150px;
		height: 150px;
		float: none;
		border-radius: 50%;
		text-align: center;
	}
	#about p.mainText{
		font-size: 1.3em;
		line-height: 1.2em;
	}
	#about .stayTogetherFix{overflow: auto;}
	
	#process .container-fluid{padding: 0;}
	
	#perks{}
	#perks .col-md-4{width: 100%; margin-bottom: 0; padding: 0;}
	
	#portfolio div.col-md-4.col-sm-6.col-6{padding: 5px;}
	.imagebox .imagebox-desc {padding: 10px 0;}
	
	#contact{padding-bottom: 0;}
	#contact form .col{padding-left: 5px; padding-right: 5px; font-size: 80%;}
}

@media screen and (max-width: 375px) { /* Very Small! */
	header h1{font-size: 1em;}
	
	#about p.mainText{font-size: 1.1em;}
	#about button.btn{font-size: 0.9em;}
	
	#perks{height: auto;}
	
	#portfolio{height: auto;}
	#portfolio .row{padding: 0;}
	.imagebox .imagebox-desc {opacity: 1; font-size: 0.7em;}
	
	footer p{font-size: 0.7em;}
	
	#cookieBanner{padding: 0.4em; font-size: 0.6em;}
}

@media screen and (max-height: 640px){ /* Smaller Height Displays */
	#about, #process, #perks, #portfolio, #contact{height: auto;}
}